body, html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 10;
  cursor: url("https://github.com/AmyShackles/AmyShackles/blob/master/mouse.png?raw=true"), auto;
}
svg {
  position: fixed;
  height: 100px;
  width: 120px;
  padding-top: 5px;
  padding-left: 45px;
}
.eyes {
  height: 90px;
  width: 200px;
}
.cat {
  margin: auto;
  width: 380px;
  z-index: 1;
}
.left-ear {
  margin-left: 30%;
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  z-index: -1;
}
.right-ear {
  margin-right: 30%;
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid yellow;
  z-index: -1;
}
.ears {
  display: flex;
  justify-content: space-between;
  width: 380px;
}
.head {
  width: 50%;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  margin: -30px auto;
}

.nose .round-bit {
  width: 40px;
  height: 12px;
  background: pink;
  border-radius: 20px / 10px;
  margin-top: -40px;
  margin-left: calc(50% - 15px);
}
.round-bit {
  display: flex;
  justify-content: space-evenly;
}
.round-bit .nostril {
  margin-top: 7px;
  height: 2.5px;
  width: 2.5px;
  background-color: black;
  border-radius: 50%;
}
.nose .straight-bit {
  background-color: pink;
  height: 10px;
  width: 5px;
  margin: 0 50.5%;
}
.mouth {
  display: flex;
  justify-content: center;
  margin-right:23%;
}
.mouth .left-side {
  width: 22px;
  height: 10px;
  margin-left: 36%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: .5px solid black;
  border-top: 0;
}
.mouth .right-side {
  width: 22px;
  height: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: .5px solid black;
  border-top: 0;
}
.body {
  z-index: -1;
}
.torso {
  height: 300px;
  border-radius: 50%;
  width: 75%;
  background-color: yellow;
  z-index: -1;
  display: flex;
  align-items: center;
}
canvas {
  height: 300px;
  width: 300px;
}
.left-arm {
  height: 50px;
  width: 50px;
  margin-right: -25px;
  margin-top: 0px;
  border-radius: 80%;
  background-color: yellow;
}
.right-arm {
  height: 50px;
  width: 50px;
  margin-left: -30px;
    margin-top: 0;
  border-radius: 80%;
  background-color: yellow;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.legs {
  display: flex;
  justify-content: space-around;
}
.left-leg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: -40px;
  background-color: yellow;
}
.right-leg {
    height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: -40px;
  background-color: yellow;
}

    
.tail {
    margin-top: -30px;
    align-self: center;
    width:230px;
    margin-right: 230px;
    height:200px;
    border-right: 40px solid yellow;
    border-bottom: 0px solid yellow;
    border-bottom-right-radius:200px;
   }
    
            #tail:after{
            content:"";
            position:absolute;
            width:196px;
            height:196px;
            border-top:1px solid red;
            border-left:1px solid red;
            border-top-left-radius:196px;
            left:4px;
            top:4px;
            box-shadow:0 1px 0 black;
            } 

#cats {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  
}
.cat {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
}

